
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div style="margin-left:18rem;margin-top:10rem">

    <h2 style="color:black"> Bem vindo ao sistema de gestao de Parque de Estacionamento</h2>

</div>
<hr />

