<!DOCTYPE html>
<html>

<!-- Mirrored from bootstrapdash.com/demo/purple/laravel/template/demo_2/user-pages/login by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 Aug 2022 13:12:10 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <meta name="_token" content="autH5JfIuC1Y4mO4J5xBedMogMj1KWSqpcWR3ocw">

    <link rel="shortcut icon" href="../favicon.ico">


</head>
<body data-base-url="https://bootstrapdash.com/demo/purple/laravel/template/demo_2">

    <div class="container-scroller" id="app">
        <div class="container-fluid page-body-wrapper full-page-wrapper">

            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row flex-grow">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-dark text-left p-5">
                            <div class="brand-logo">
                            
                            @RenderBody()

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</body>

<!-- Mirrored from bootstrapdash.com/demo/purple/laravel/template/demo_2/user-pages/login by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 Aug 2022 13:12:10 GMT -->
</html>